[flake8]
exclude =
    .git,
    __pycache__,
    venv
    */migrations/*
per-file-ignores =
    mysite/settings/default.py: E501
    mysite/settings/local.py: F405
    mysite/settings/prod.py: F405
    mysite/settings/dev.py: F405

[pycodestyle]
in-place = true
recursive = true