DJANGO_SETTINGS_MODULE=config.settings.prod


DJANGO_DEBUG=False
DJANGO_DEBUG_VSCODE=False

DJANGO_SECRET_KEY=

DJANGO_ALLOWED_HOSTS=localhost

# postgresql
DJANGO_DB_NAME=
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=
DJANGO_DB_PORT=5432

DJANGO_TIME_ZONE=Asia/Saigon
DJANGO_LANGUAGE_CODE=en-us

DJANGO_STATIC_URL=


#####################
GUNICORN_LOGLEVEL=info
GUNICORN_RELOAD=False
GUNICORN_CAPTURE_OUTPUT=False
