# django env

DJANGO_SETTINGS_MODULE=config.settings.local


DJANGO_DEBUG=True
DJANGO_DEBUG_VSCODE=True

DJANGO_SECRET_KEY=django-insecure-_f-z)ygx9v)1^d%bom^ta4138u*$+8$1&$i=l%&i*@q3sfb%i8

DJANGO_ALLOWED_HOSTS=localhost

DJANGO_DB_NAME=mysite
DJANGO_DB_USER=mysite
DJANGO_DB_PASSWORD=mysite
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432

DJANGO_TIME_ZONE=Asia/Saigon
DJANGO_LANGUAGE_CODE=en-us

DJANGO_STATIC_URL=static/

